<a href="https://colab.research.google.com/github/td-yoshimura/hivemall-notebooks/blob/master/notebooks/misc/text_tokenizer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Summary
In this notebook, there are some samples for text tokenizing functions in Hivemall.

In [0]:
%env TD_API_KEY = YOUR TD API KEY
%env DATABASE = YOUR DATABASE NAME

<font color="red"><b>You will be asked to input UserName and Password of Treasure Data. Please fill them.</b></font>

In [0]:
!curl -L https://toolbelt.treasuredata.com/sh/install-ubuntu-trusty-td-agent2.sh | sh
!td account -f
!pip install pandas-td

In [0]:
import os
td_api_key = os.environ['TD_API_KEY']
database = os.environ['DATABASE']
table = 'churn_dataset'

import numpy as np
import pandas as pd

import pandas_td as td
con = td.connect(apikey=td_api_key)

%load_ext pandas_td.ipython
%td_use $database

presto = td.create_engine('presto:{}'.format(database), con=con)
hive = td.create_engine('hive:{}'.format(database), con=con)

# Japanes Text

tokenize_ja and tokenize_ja_neologd's arguments are below,
- 1st argument: text
- 2nd argument: segmentation modes ()normal/search/extended) http://www.atilika.org/
- 3rd argument: stop words
- 4th argument: stop tags https://qiita.com/miz21358/items/75fd28075ed8cfe2c937

In [0]:
%%td_hive
select
  *
from (
  select 1 as index, tokenize_ja_neologd("kuromoji„Çí‰Ωø„Å£„ÅüÂàÜ„Åã„Å°Êõ∏„Åç„ÅÆ„ÉÜ„Çπ„Éà„Åß„Åô„ÄÇüòÄ", "normal")
  union all
  select 2 as index, tokenize_ja_neologd("kuromoji„Çí‰Ωø„Å£„ÅüÂàÜ„Åã„Å°Êõ∏„Åç„ÅÆ„ÉÜ„Çπ„Éà„Åß„Åô„ÄÇüòÄ", "normal", array("kuromoji"))
  union all  
  select 3 as index, tokenize_ja_neologd("kuromoji„Çí‰Ωø„Å£„ÅüÂàÜ„Åã„Å°Êõ∏„Åç„ÅÆ„ÉÜ„Çπ„Éà„Åß„Åô„ÄÇüòÄ", "normal", null, array("ÂêçË©û-‰∏ÄËà¨"))
  union all
  select 4 as index, tokenize_ja_neologd("kuromoji„Çí‰Ωø„Å£„ÅüÂàÜ„Åã„Å°Êõ∏„Åç„ÅÆ„ÉÜ„Çπ„Éà„Åß„Åô„ÄÇüòÄ", "normal", array("kuromoji"), array("ÂêçË©û-‰∏ÄËà¨"))
) t
order by index

   index                             _c1
0      1  [kuromoji, ‰Ωø„ÅÜ, ÂàÜ„Åã„Å°Êõ∏„Åç, „ÉÜ„Çπ„Éà, Á¨ëÈ°î]
1      2            [‰Ωø„ÅÜ, ÂàÜ„Åã„Å°Êõ∏„Åç, „ÉÜ„Çπ„Éà, Á¨ëÈ°î]
2      3                       [‰Ωø„ÅÜ, „ÉÜ„Çπ„Éà]
3      4          [„Çí, ‰Ωø„ÅÜ, „Åü, „ÅÆ, „ÉÜ„Çπ„Éà, „Åß„Åô]

## The diffrence between `tokenize_ja` and `tokenize_ja_neologd`
`tokenize_ja_neologd` has a newer version's dictionary.

In [0]:
%%td_hive
select 'tokenize_ja' as f, tokenize_ja("‰∏≠Â±ÖÊ≠£Â∫É„ÅÆ„Éü„Å´„Å™„ÇãÂõ≥Êõ∏È§®„ÄÇ") as result
union all
select 'tokenize_ja_neologd' as f, tokenize_ja_neologd("‰∏≠Â±ÖÊ≠£Â∫É„ÅÆ„Éü„Å´„Å™„ÇãÂõ≥Êõ∏È§®„ÄÇ") as result

                     f            result
0          tokenize_ja  [‰∏≠Â±Ö, Ê≠£Â∫É, „Éü, Âõ≥Êõ∏È§®]
1  tokenize_ja_neologd    [‰∏≠Â±ÖÊ≠£Â∫É„ÅÆË∫´„Å´„Å™„ÇãÂõ≥Êõ∏È§®]

# English Text

In [0]:
%%td_hive
select
  *
from (
  select 1 as index, tokenize("I am studying Hivemall because it's a lot of fun", true)
  union all
  select 2 as index, tokenize("I am studying Hivemall because it's a lot of fun", false)
  union all
  select 3 as index, tokenize("I am studying Hivemall because it's a lot of fun") -- default value of the second argument is false
) t
order by index

   index                                                _c1
0      1  [i, am, studying, hivemall, because, it, s, a,...
1      2  [I, am, studying, Hivemall, because, it, s, a,...
2      3  [I, am, studying, Hivemall, because, it, s, a,...

# Chinese Text

In [0]:
%%td_hive
select 
  tokenize_cn("Smartcn‰∏∫Apache2.0ÂçèËÆÆÁöÑÂºÄÊ∫ê‰∏≠ÊñáÂàÜËØçÁ≥ªÁªüÔºåJavaËØ≠Ë®ÄÁºñÂÜôÔºå‰øÆÊîπÁöÑ‰∏≠ÁßëÈô¢ËÆ°ÁÆóÊâÄICTCLASÂàÜËØçÁ≥ªÁªü„ÄÇ")

                                                 _c0
0  [smartcn, ‰∏∫, apach, 2, 0, ÂçèËÆÆ, ÁöÑ, ÂºÄÊ∫ê, ‰∏≠Êñá, ÂàÜËØç, Á≥ª...